@model SchoolarshipManagement.Models.ViewModels.CityVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create City";
}


<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.City.Id != 0)
        {
            //edit
            title = "Edit City";
            <input type="hidden" asp-for="City.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="City.Code">Code</label>
                </div>
                <div class="col-8">
                    <input asp-for="City.Code" class="form-control" autofocus autocomplete="off"/>
                    <span asp-validation-for="City.Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="City.Name">Name</label>
                </div>
                <div class="col-8">
                    <input asp-for="City.Name" class="form-control" autocomplete="off"/>
                    <span asp-validation-for="City.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Country
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.City.CountryId, Model.CountryList, "-Select a Country",
                   new { @class = "form-control" })
                    <span asp-validation-for="City.CountryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.City.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.City.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>        
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}